---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi. I'm Silvio, a freelance front-end developer with a passion for
        turning ideas into digital experiences that really work. Over the years
        I've had the pleasure of working on challenging and exciting projects,
        contributing to development for realities like SNAM, Skoda and Madisoft.

        <br />
      </p>
    </div>
    <p class="text-sm font-light">
      My bread and butter?<b> React, TypeScript</b> and <b>React Native </b> - but
      I don't get too attached to tools: I always choose the right technology to
      achieve the goal in the most effective way. I work with care, listen carefully
      and aim straight for the result.
    </p>
    <p class="text-sm font-light">
      If you have an ambitious project, let's talk about it: we could do
      something really interesting together.
    </p>
  </div>
</Card>
