body:before {
  --line-color: var(--primary-800);
  --line-size: 80px;
  content: "";
  height: 100vh;
  width: 101vw;
  position: fixed;
  background:
    linear-gradient(90deg, var(--line-color) 1px, transparent 1px) 0 0 /
      var(--line-size) var(--line-size),
    linear-gradient(var(--line-color) 1px, transparent 1px) 0 0 /
      var(--line-size) var(--line-size);
  top: 0;
  z-index: -1;
  -webkit-mask: linear-gradient(-360deg, transparent 40%, white);
  mask: linear-gradient(-360deg, transparent 40%, white);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Per Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-tiny::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-tiny::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.scrollbar-tiny::-webkit-scrollbar-track {
  background: transparent;
}

/* Per Firefox */
.scrollbar-tiny {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-500) transparent;
}
